:root{
    --container-height: 50px;
    --item-font-size: 13px;
    --controls-font-size: 14px;
}
.container{
    height: var(--container-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1.5rem;
    color: var(--text-menu);
}
.items{
    font-size: var(--item-font-size);
}
.clear{
    font-size: var(--controls-font-size);
    background-color: transparent;
    color: inherit;
    cursor: pointer;
}
.desk{
    display: block;
}
@media screen and (max-width: 570px) {
    .desk{
        display: none;
    }
}